<!-- Attempt 1 -->
<div class="form-field">
              <div class="btn-group" name="status">
                <label class="btn btn-default"
                       ng-repeat="option in ctrl.imageStatusOptions"
                       ng-model="ctrl.image.status"
                       uib-btn-radio="option.value">{$ ::option.label $}</label>
              </div>
            </div>

<!-- Attempt 2 -->

        <div class="col-xs-6 col-sm-6">
          <div class="form-group">
            <label class="control-label required" translate>Status</label>
            <div class="form-field">
            <div class="btn-group" ng-model="ctrl.image.status"
            ng-options="key as label for (key, label) in ctrl.imageStatusOptions">
            </div>
          </div>
          </div>
        </div>

<!-- Attempt 3 -->

        <div class="col-xs-6 col-sm-6">
          <div class="form-group">
            <label class="control-label required" translate>Deactivated</label>
            <div class="form-field">
              <div class="btn-group" name="deactivated">
                <label class="btn btn-default"
                       ng-repeat="option in ctrl.imageStatusOptions"
                       ng-model="ctrl.image.status"
                       uib-btn-radio="option.value">{$ ::option.label $}</label>
              </div>
            </div>
          </div>
        </div>

<!-- Attempt 4 -->

          <div class="form-group">
            <label class="control-label required" translate>Deactivated</label>
            <div class="form-field">
              <div class="btn-group" name="deactivated">
                <label class="btn btn-default"
                       ng-repeat="option in ctrl.imageStatusOptions"
                       ng-model="ctrl.image.status"
                       ng-if="option.value === 'deactivate'"
                       uib-btn-radio="option.value">{$ ::option.label $}</label>
              </div>
            </div>
          </div>

<!-- Attempt 5 -->

        <div class="selected-source clearfix">
          <div class="row form-group">
            <div class="col-xs-6 col-sm-6">
              <div class="form-group required">
                <label class="control-label required" for="">
                  <span translate>Deactivated</span>
                  <span class="hz-icon-required fa fa-asterisk"></span>
                </label>
                <select class="form-control switchable ng-pristine ng-untouched ng-valid"
                name="deactivated"
                ng-model="ctrl.image.status"
                ng-options="key as label for (key, label) in ctrl.imageStatuses">
                </select>
              </div>
            </div>
          </div>
        </div>

<!-- Attempt 6 -->
        <div class="col-xs-6 col-sm-6">
          <div class="form-group">
            <label class="control-label required" translate>Deactivated</label>
            <div class="form-field">
              <div class="btn-group" name="deactivated">
                <label class="btn btn-default"
                       ng-repeat="option in ctrl.imageStatuses"
                       ng-model="ctrl.image.status"
                       uib-btn-radio="option.value">{$ ::option.label $}</label>
              </div>
            </div>
          </div>
        </div>

<!-- Attempt 7 -->

        <div class="col-xs-6 col-sm-6">
          <div class="form-group">
            <label class="control-label required" translate>Deactivated</label>
            <div class="form-field">
              <div class="btn-group" name="deactivated">
                <label class="btn btn-default"
                      ng-options="key as label for (key, label) in ctrl.imageStatuses"
                       ng-model="ctrl.image.status"
                       uib-btn-radio="option.value">{$ ::option.label $}</label>
              </div>
            </div>
          </div>
        </div>
